{% extends "lingua_templates/header.html" %}
{% load staticfiles %}
{% block content %}
{% include "lingua_templates/inc/navbar.html" %}
<section class="text-center my-5">
  <h1 class="h1-responsive font-weight-bold my-5">How to apply</h1>
  <div class="row" style="justify-content:space-evenly;">
    <div class="col-md-3">
      <i class="fas fa-mobile lingua-icon-dark"></i>
      <h5 class="font-weight-bold my-4">Easy</h5>
      <p class="grey-text mb-md-0 mb-5">Apply form your smartphone or laptop. Pick up where you left off.
      </p>
    </div>
    <div class="col-md-3">
      <i class="fa fa-piggy-bank lingua-icon-dark"></i>
      <h5 class="font-weight-bold my-4">Cut the cost</h5>
      <p class="grey-text mb-md-0 mb-5">Register with us and save up to 30% of the total cost of the programme, compared to applying directly to the university.
      </p>
    </div>
    <div class="col-md-3">
      <i class="fas fa-shield-alt lingua-icon-dark"></i>
      <h5 class="font-weight-bold my-4">Secure</h5>
      <p class="grey-text mb-0">We don’t take payments from you. We are 100% free and secure.
      </p>
    </div>
  </div>
</section>

<section class="my-5">
  <div class="row">
    <div class="col-lg-5 mb-lg-0 mb-5">
      <img class="apply-img-left" src="{%static 'assets/reg_demo.jpg' %}" alt="Lingua register" class="img-fluid rounded z-depth-1">
    </div>
    <div class="col-lg-5">
      <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
          <div class="mdl-stepper-horizontal-alternative">
            <div class="mdl-stepper-step active-step step-done">
              <div class="mdl-stepper-circle"><span>1</span></div>
              <div class="mdl-stepper-title">Search for a programme or a language course</div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </div>
            <div class="mdl-stepper-step">
              <div class="mdl-stepper-circle"><span>2</span></div>
              <div class="mdl-stepper-title">Register to create your profile</div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </div>
            <div class="mdl-stepper-step">
              <div class="mdl-stepper-circle"><span>3</span></div>
              <div class="mdl-stepper-title">Upload your documents</div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </div>
            <div class="mdl-stepper-step">
              <div class="mdl-stepper-circle"><span>4</span></div>
              <div class="mdl-stepper-title">Submit your application</div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="apply-desc">
        <p>
          Search<a href="{% url 'search_programme' %}"> here</a> for a university programme or <a href="{% url 'search_course' %}">here</a> for a language course all around the UK.
        </p>
      </div>

      <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
          <div class="mdl-stepper-horizontal-alternative">
            <div class="mdl-stepper-step">
              <div class="mdl-stepper-circle"><span>1</span></div>
              <div class="mdl-stepper-title">Search for a programme or a language course</div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </div>
            <div class="mdl-stepper-step active-step step-done">
              <div class="mdl-stepper-circle"><span>2</span></div>
              <div class="mdl-stepper-title">Register to create your profile</div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </div>
            <div class="mdl-stepper-step">
              <div class="mdl-stepper-circle"><span>3</span></div>
              <div class="mdl-stepper-title">Upload your documents</div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </div>
            <div class="mdl-stepper-step">
              <div class="mdl-stepper-circle"><span>4</span></div>
              <div class="mdl-stepper-title">Submit your application</div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="apply-desc">
        <p>
          Create your profile by registering <a href="{% url 'register' %}"> here</a>
        </p>
      </div>
    </div>
  </div>
  <hr class="my-5">
  <div class="row">
    <div class="col-lg-5">
      <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
          <div class="mdl-stepper-horizontal-alternative">
            <div class="mdl-stepper-step">
              <div class="mdl-stepper-circle"><span>1</span></div>
              <div class="mdl-stepper-title">Search for a programme or a language course</div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </div>
            <div class="mdl-stepper-step">
              <div class="mdl-stepper-circle"><span>2</span></div>
              <div class="mdl-stepper-title">Register to create your profile</div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </div>
            <div class="mdl-stepper-step active-step step-done">
              <div class="mdl-stepper-circle"><span>3</span></div>
              <div class="mdl-stepper-title">Upload your documents</div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </div>
            <div class="mdl-stepper-step">
              <div class="mdl-stepper-circle"><span>4</span></div>
              <div class="mdl-stepper-title">Submit your application</div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="apply-desc">
        <p>
          From your profile dashboard, upload the requireds document to apply. Once done, simply submit your request...
        </p>
      </div>

      <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
          <div class="mdl-stepper-horizontal-alternative">
            <div class="mdl-stepper-step">
              <div class="mdl-stepper-circle"><span>1</span></div>
              <div class="mdl-stepper-title">Search for a programme or a language course</div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </div>
            <div class="mdl-stepper-step">
              <div class="mdl-stepper-circle"><span>2</span></div>
              <div class="mdl-stepper-title">Register to create your profile</div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </div>
            <div class="mdl-stepper-step">
              <div class="mdl-stepper-circle"><span>3</span></div>
              <div class="mdl-stepper-title">Upload your documents</div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </div>
            <div class="mdl-stepper-step active-step step-done">
              <div class="mdl-stepper-circle"><span>4</span></div>
              <div class="mdl-stepper-title">Submit your application</div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="apply-desc">
        <p>
          Once submitted we'll review your application within 24h. We will let you know if all the documents you uploaded are valid or if you need to amend your application. <a href="{% url 'contact' %}">Contact</a> us if you need help to write or improve your documents to maximize your chance of success.
        </p>
      </div>
    </div>
    <div class="col-lg-5">
      <img class="apply-img-right" src="{%static 'assets/apply_demo.png' %}" alt="Lingua Apply image" class="img-fluid rounded z-depth-1">
    </div>
  </div>
  <div class="bg bg-light lingua-cta linguaFade">
    <h1>Ready to apply?</h1>
    <p> Start by creating your student profile.</br>
        Forget about the paperwork and get ready for your life adventure...</p>
    <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
</div>
</section>
{% include "lingua_templates/inc/footer.html" %}
{% endblock %}