{% extends "lingua_templates/header.html" %}

{% block content %}
{% include "lingua_templates/inc/navbar.html" %}
{% include "lingua_templates/inc/search.html" %}
{% include "lingua_templates/inc/photo_container.html" %}
{% include "lingua_templates/inc/CTA_apply.html" %}
{% include "lingua_templates/inc/center.html" %}
{% include "lingua_templates/inc/photo_container2.html" %}
{% include "lingua_templates/inc/help.html" %}
{% include "lingua_templates/inc/lead_magnet.html" %}
{% include "lingua_templates/inc/testimonials.html" %}
{% include "lingua_templates/inc/footer.html" %}
{% endblock %}