{% extends "lingua_templates/header.html" %}

{% block content %}
{% include "lingua_templates/inc/navbar.html" %}

<div id="lingua-hero">
<header>
    <div class="overlay"></div>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="display-3">The London Education Agency</h1>
        </div>
      </div>
    </div>
  </header>
  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h4 class="subtitle">Lingua International is a student portal where you can apply to hundreds of the best Universities and language schools all around the UK...</h4>
          <h4 class="subtitle">...all for free...and super easy!</h4>
          <div class="col">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- <section id="lingua-hero">
  <div class="row">
    <div class="col" style="margin-top:6rem;">
      <h1>Lingua International</h1>
      <div class="hero-text">
        <h4 style="color:#f8f9fa;">Lingua International is a student portal where you can apply to hundreds of the best Universities and language schools all around the UK...</h4> 
        <h4 style="color:#f8f9fa;">...all for free and super easy.</h4>
      </div>
    </div>
    <div class="col">
        <ul>
            <li>
              <div id="happy" class="icon">
                <img class="lingua-rotate" src="https://cnet4.cbsistatic.com/img/SH49di2CU1dxHQQLjO5mKWs76N8=/570x0/2011/11/23/f10406d3-fdbf-11e2-8c7c-d4ae52e62bcc/Dart_logo.png" alt="">
              </div>
            </li>
          </ul>
    </div>
  </div>
</section> -->


{% include "lingua_templates/inc/search.html" %}
{% include "lingua_templates/inc/photo_container.html" %}
{% include "lingua_templates/inc/CTA_apply.html" %}
{% include "lingua_templates/inc/center.html" %}
{% include "lingua_templates/inc/photo_container2.html" %}
{% include "lingua_templates/inc/help.html" %}
{% include "lingua_templates/inc/partners.html" %}
<!-- {% include "lingua_templates/inc/lead_magnet.html" %} -->
{% include "lingua_templates/inc/testimonials.html" %}
{% include "lingua_templates/inc/footer.html" %}
{% endblock %}