{% extends "lingua_templates/header.html" %}

{% block content %}
{% include "lingua_templates/inc/navbar.html" %}

<div class="coordinates">
    <div id="lat">{{ course.coordinate_lat }}</div>
    <div id="long">{{ course.coordinate_long }}</div>
</div>

<img class="single-image" src="{{ course.image.url }}" alt="">
<h3>{{ course.name }}</h3>
<div class="single-programme">
    <div class="tab" role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
            <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Options &
                    Costs</a></li>
            <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">More Info</a></li>
        </ul>
        <div class="tab-content tabs">
            <div role="tabpanel" class="tab-pane fade in active show" id="Section1">
                <h3>Description</h3>
                <div class="row">
                    <p><i class="fas fa-birthday-cake lingua-icon-dark-small"></i>You should be at least {{ course.min_age }} years old</p>
                    <p><i class="fas fa-users lingua-icon-dark-small"></i>{{ course.student_per_class }} students per
                        class</p>
                    <p><i class="far fa-clock lingua-icon-dark-small"></i>Lesson {{ course.lesson_durations }} minutes</p>
                    <p><i class="fas fa-map-marker-alt lingua-icon-dark-small"></i><a id="address" href=" {{ course.address_link }} " target="_blank">{{ course.address }}</a></p>
                </div>
                <p>{{ course.start_date }}</p>
                <p>{{ course.description|linebreaks }}</p>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Section2">
                <h3>Options & Costs</h3>
                <div class="row">
                    {% if course.option1 %}
                    <div class="m-5">
                        {% if course.discount_cost1 %}
                        <p class="discount-cost">£ {{ course.discount_cost1 }}</p>
                        <p>If you book with Lingua International</p>
                        <p class="original-cost">£ {{ course.original_cost1 }}</p>
                        <p>If you book with {{ course.college.name }}</p>
                        <p>{{ course.option1 }}</p>
                        {% else %}
                        <p class="discount-cost">£ {{ course.original_cost1 }}</p>
                        <p>{{ course.option1 }}</p>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if course.option2 %}
                    <div class="m-5">
                        {% if course.discount_cost2 %}
                        <p class="discount-cost">£ {{ course.discount_cost2 }}</p>
                        <p>If you book with Lingua International</p>
                        <p class="original-cost">£ {{ course.original_cost2 }}</p>
                        <p>If you book with {{ course.college.name }}</p>
                        <p>{{ course.option2 }}</p>
                        {% else %}
                        <p class="discount-cost">£ {{ course.original_cost2 }}</p>
                        <p>{{ course.option2 }}</p>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if course.option3 %}
                    <div class="m-5">
                        {% if course.discount_cost3 %}
                        <p class="discount-cost">£ {{ course.discount_cost3 }}</p>
                        <p>If you book with Lingua International</p>
                        <p class="original-cost">£ {{ course.original_cost3 }}</p>
                        <p>If you book with {{ course.college.name }}</p>
                        <p>{{ course.option3 }}</p>
                        {% else %}
                        <p class="discount-cost">£ {{ course.original_cost3 }}</p>
                        <p>{{ course.option3 }}</p>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if course.option4 %}
                    <div class="m-5">
                        {% if course.discount_cost4 %}
                        <p class="discount-cost">£ {{ course.discount_cost4 }}</p>
                        <p>If you book with Lingua International</p>
                        <p class="original-cost">£ {{ course.original_cost4 }}</p>
                        <p>If you book with {{ course.college.name }}</p>
                        <p>{{ course.option4 }}</p>
                        {% else %}
                        <p class="discount-cost">£ {{ course.original_cost4 }}</p>
                        <p>{{ course.option4 }}</p>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if course.option5 %}
                    <div class="m-5">
                        {% if course.discount_cost5 %}
                        <p class="discount-cost">£ {{ course.discount_cost5 }}</p>
                        <p>If you book with Lingua International</p>
                        <p class="original-cost">£ {{ course.original_cost5 }}</p>
                        <p>If you book with {{ course.college.name }}</p>
                        <p>{{ course.option5 }}</p>
                        {% else %}
                        <p class="discount-cost">£ {{ course.original_cost5 }}</p>
                        <p>{{ course.option5 }}</p>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Section3">
                <h3>More Info</h3>
                <p>You can find more info about this programme <a href="{{ course.college_url }}">here</a></p>
            </div>
        </div>
    </div>
</div>

{% if course.housing %}
<div class="single-programme">
    <h4>Housing</h4>
    <div class="row">
        <p><i class="fas fa-birthday-cake lingua-icon-dark-small"></i>You should be at least {{ course.min_age }} years
            old</p>
        <p><i class="fas fa-map-marked-alt lingua-icon-dark-small"></i>~ {{ course.distance }} minutes to school by
            public transport</p>
        <p><i class="fas fa-utensils lingua-icon-dark-small"></i>{{ course.meals }}</p>
    </div>
    <p>{{ course.housing_description|linebreaks }}</p>
</div>
{% endif %}

<div id="mapid"></div>

<!-- {% include "lingua_templates/testimonials/single_testimonial_course.html" %} -->

<div class="search-flex">
    <div>
        <h3>Not sure how to apply?</h3>
        <p>Start by reading here</p>
        <a href="{% url 'how_to_apply' %}" class="btn btn-primary">How to apply</a>
    </div>
    <div>
        <h3>Ready to apply?</h3>
        <p>Start your application here</p>
        <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
    </div>
</div>

<div style="background-color: #f8f9fa !important;" class="bg bg-light apply cta linguaFade">
    <h1>Any questions?</h1>
    <p> We are always available and happy to help you</p>
    <a href="{% url 'contact' %}" class="btn btn-primary">Get in touch</a>
</div>
{% include "lingua_templates/inc/footer.html" %}
{% endblock %}