{% extends "lingua_templates/header.html" %}

{% block content %}
{% include "lingua_templates/inc/navbar.html" %}
<div class="coordinates">
    <div id="lat">{{ programme.coordinate_lat }}</div>
    <div id="long">{{ programme.coordinate_long }}</div>
</div>

<img class="single-image" src="{{ programme.image.url }}" alt="">
<h3>{{ programme.name }}</h3>

<div class="single-programme">
    <div class="tab" role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
            <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Cost</a></li>
            <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">More Info</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content tabs">
            <div role="tabpanel" class="tab-pane fade in active show" id="Section1">
                <h3>Description</h3>
                <div class="row">
                    <p class="icons"><i class="fas fa-graduation-cap lingua-icon-dark-small"></i>Award: {{ programme.award }}</p>
                    <p class="icons"><i class="fas fa-book lingua-icon-dark-small"></i>Level: {{ programme.level }}</p>
                    <p class="icons"><i class="far fa-clock lingua-icon-dark-small"></i>Duration: {{ programme.duration }} year(s)</p>
                    <p class="icons"><i class="fas fa-graduation-cap lingua-icon-dark-small"></i></i>University ranking: {{ programme.ranking }}</p>
                    <p><i class="fas fa-map-marker-alt lingua-icon-dark-small"></i><a id="address" href=" {{ programme.address_link }} " target="_blank">{{ programme.address }}</a></p>
                </div>
                <p>{{ programme.description|linebreaks }}</p>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Section2">
                <h3>Cost</h3>
                <p>This programme costs: </p>
                {% if programme.discount_cost %}
                <div class="row">
                    <p class="original-cost m-2">£ {{ programme.original_cost }} </p>
                    <p class="m-2"> - if you join directly with {{ programme.university }}</p>
                </div>
                <div class="row">
                    <p class="discount-cost m-2">£ {{ programme.discount_cost }}</p>
                    <p class="m-2"> - if you join with us.</p>
                </div>
                {% else %}
                <div class="row">
                    <p class="discount-cost m-2">£ {{ programme.original_cost }} </p>
                    <p class="m-2"> - if you join directly with {{ programme.university }}</p>
                </div>
                {% endif %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Section3">
                <h3>More Info</h3>
                <p>You can find more info about this programme <a href="{{ programme.programme_url }}">here</a></p>
            </div>
        </div>
    </div>
</div>
<!-- {% include "lingua_templates/testimonials/single_testimonial_programme.html" %} -->

<div id="mapid"></div>

<div class="search-flex">
    <div>
        <h3>Not sure how to apply?</h3>
        <p>Start by reading here</p>
        <a href="{% url 'how_to_apply' %}" class="btn btn-primary">How to apply</a>
    </div>
    <div>
        <h3>Ready to apply?</h3>
        <p>Start your application here</p>
        <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
    </div>
</div>
<div style="background-color: #f8f9fa !important;" class="bg bg-light apply cta linguaFade">
    <h1>Any questions?</h1>
    <p> We are always available and happy to help you</p>
    <a href="{% url 'contact' %}" class="btn btn-primary">Book a free consultation</a>
</div>
{% include "lingua_templates/inc/footer.html" %}
{% endblock %}