{% extends "lingua_templates/header.html" %}
{% block content %}
{% load staticfiles %}
{% load crispy_forms_tags %}
<section class="color-gradient">
    <div class="bg bg-light subscribe">
        <p> Enter your email and receive top tips on how to learn proficient English in 6 months.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.email }}
            <h3>What is the plural of tooth?</h3>
            {{ form.question }}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</section>
{% endblock %}