{% extends "lingua_templates/header.html" %}

{% load static %}
{% load widget_tweaks %}

{% block content %}
{% include "lingua_templates/inc/navbar.html" %}

<form id="search-form-course" class="bg-light" method="get">
  <div class="well">
    <h1>Find a course:</h1>
    <h1 style="color:grey;">{{ filter.qs.count }}</h1>
    <div class="row">
      <div class="form-group col-sm-4 col-md-3">
        <p>By college</p>
        {% render_field filter.form.college class="form-control" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <p>By course name: </p>
        {% render_field filter.form.name class="form-control" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <p>Max cost (in GBP): </p>
        {% render_field filter.form.cost class="form-control" %}
      </div>
    </div>
    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-search"></span> Search
    </button>
  </div>
</form>

<!-- Pagination -->
{% if courses.has_other_pages %}
  <ul class="pagination" style="padding:0 3rem;">
    {% if courses.has_previous %}
      <li><a href="?page={{ courses.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in courses.paginator.page_range %}
      {% if courses.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if courses.has_next %}
      <li><a href="?page={{ courses.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

<!-- Courses List -->
{% for course in courses %}
  <a href="{{ course.id }}" class="card-result">
    <div class="search-result">
      <div class="lingua-card">
        <img src="{{ course.image.url }}" alt="english language course" class="lingua-image">
        <div class="lingua-info">
          <h2>{{ course.name }}</h2>
          <h5>{{ course.college }}, {{ course.college.city }}</h5>
          <hr>
          <p>From {{ course.min_age }} years old</p>
        </div>
        <div class="lingua-cost">
          {% if course.discount_cost1 %}
            <p class="card-price discount-cost" style="padding:2rem;"> £ {{ course.discount_cost1 }}</p>
            <p class="card-price original-cost">£ {{ course.original_cost1 }}</p>
          {% else %}
          <p class="card-price discount-cost" style="padding:2rem;"> £ {{ course.original_cost1 }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
  {% empty %}
  <h1>Sorry, we could not find what you were looking for</h1>
  <h4>Try with a more general search or <a style="text-decoration:none;" href="#">contact us</a></h4>
{% endfor %}
{% include "lingua_templates/inc/footer.html" %}
{% endblock %}