{% extends "lingua_templates/header.html" %}

{% load static %}
{% load widget_tweaks %}

{% block content %}
{% include "lingua_templates/inc/navbar.html" %}

<form id="search-form-programme" class="bg-light" method="get">
  <div class="well">
    <h1>Find a programme:</h1>
    <h1 style="color:grey;">{{ filter.qs.count }}</h1>
    <div class="row">
      <div class="form-group col-sm-4 col-md-3">
        <p>By university</p>
        {% render_field filter.form.university class="form-control" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <p>By programme name: </p>
        {% render_field filter.form.name class="form-control" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <p>By maximum cost (in GBP): </p>
        {% render_field filter.form.cost class="form-control" %}
      </div>
    </div>
    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-search"></span> Search
    </button>
  </div>
</form>

{% for programme in filter.qs %}
  <a href="{{ programme.id }}" class="card-result">
    <div class="search-result">
      <div class="lingua-card">
        <img src="{{ programme.image.url }}" alt="english language course" class="lingua-image">
        <div class="lingua-info">
          <h2>{{ programme.name }}</h2>
          <h5>{{ programme.university }}, {{ programme.university.city }}</h5>
          <hr>
          <p>Programme duration: {{ programme.duration }} year(s)</p>
          <p>University Ranking: {{ programme.ranking }}</p>
        </div>
        <div class="lingua-cost">
          {% if programme.discount_cost %}
            <p class="card-price discount-cost" style="padding:2rem;"> £ {{ programme.discount_cost }}</p>
            <p class="card-price original-cost">£ {{ programme.original_cost }}</p>
          {% else %}
          <p class="card-price discount-cost" style="padding:2rem;"> £ {{ programme.original_cost }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
  {% empty %}
  <h1>Sorry, we could not find what you were looking for</h1>
  <h4>Try with a more general search or <a style="text-decoration:none;" href="#">contact us</a></h4>
{% endfor %}
{% include "lingua_templates/inc/footer.html" %}
{% endblock %}