{% extends "lingua_templates/header.html" %}

{% load static %}
{% load widget_tweaks %}

{% block content %}
{% include "lingua_templates/inc/navbar.html" %}

<form id="search-form-course" method="get">
  <div class="well">
    <h1>Find a course:</h1>
    <h1 style="color:grey;">{{ filter.qs.count }}</h1>
    <div class="row">
      <div class="form-group col-sm-4 col-md-3">
        <p>By College</p>
        {% render_field filter.form.college class="form-control" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <p>By name: </p>
        {% render_field filter.form.name class="form-control" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <p>By duration (in weeks): </p>
        {% render_field filter.form.duration class="form-control" %}
      </div>
    </div>
    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-search"></span> Search
    </button>
  </div>
</form>

<!-- Show list of results -->
  <div>
    {% for course in filter.qs %}
    <a class="card-result" href="{{ course.id }}">
      <div class="search-result">
        <div class="row-results">
          <img class="img-result" src="{{ course.image.url }}" alt="{{ course.image }}">
          <h4 class="card-name">{{ course.name }}</h4>
          <div>
            {% if course.discount_cost1 %}
              <p class="card-price discount-cost" style="padding:2rem 0 0 0;"> From £ {{ course.discount_cost1 }}</p>
            {% endif %}
            <p class="card-price original-cost">From £ {{ course.original_cost1 }}</p>
          </div>
        </div>
        <div class="row-results">
          <h6 class="card-university">{{ course.college }}, {{course.college.city}}</h6>
          <p class="card-date">{{ course.start_date }}</p>
        </div>
      </div>
    </a>
    {% empty %}
      <h1>Sorry, we could not find what you were looking for</h1>
      <h4>Try with a more general search or <a style="text-decoration:none;" href="#">contact us</a></h4>
    {% endfor %}
  </div>
</div>
{% include "lingua_templates/inc/footer.html" %}
{% endblock %}