{% load staticfiles %}
<div class="masonry-with-columns-2" id="masonry-with-columns-2">
    <div>
        <img class="lingua-masonry" src="{%static 'assets/computer-science.jpg' %}" alt="english university" title="computer science">
    </div>
    <div>
        <img class="lingua-masonry" src="{%static 'assets/engineer.jpg' %}" alt="engineer uk" title="engineer">
    </div>
    <div>
        <img class="lingua-masonry" src="{%static 'assets/finance.jpg' %}" alt="student abroad" title="finance">
    </div>
    <div>
        <img class="lingua-masonry" src="{%static 'assets/pharmacy.jpg' %}" alt="higher education" title="pharmacy">
    </div>
</div>