{% load staticfiles %}
<div class="masonry-with-columns-2" id="masonry-with-columns-2">
    <div>
        <img class="lingua-masonry" src="{%static 'assets/shard.jpg' %}" alt="The shard London" title="The Shard">
    </div>
    <div>
        <img class="lingua-masonry" src="{%static 'assets/manchester-uni.jpg' %}" alt="manchester university" title="manchester university">
    </div>
    <div>
        <img class="lingua-masonry" src="https://chosen4purposecom.files.wordpress.com/2017/10/img_0464.jpg" alt="student abroad" title="erasmus">
    </div>
    <div>
        <img class="lingua-masonry" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.lAlocQQ9v66_XxbeC4cLHgHaLO%26pid%3D15.1&f=1" alt="higher education" title="oxford university">
    </div>
</div>