<section id="search">
    <div class="search-flex">
        <div>
            <h2>Universities</h2>
            <p>Looking forward to study in the UK?</br>
            Find your university now</p>
            <a class="btn btn-primary" href="{% url 'search_programme' %}">Find University</a>
        </div>
        <div>
            <h2>Language Schools</h2>
            <p>Want to learn English?</br>
            Search for the best language schools</p>
            <a class="btn btn-primary" href="{% url 'search_course' %}">Find School</a>
        </div>
    </div>
</section>