{% load staticfiles %}
<div class="bg-light testimonial linguaFade">
    <div class="container">
        <h2>Our students</h2>
        <div class="testimonials">
            <figure class="snip1139">
                <blockquote>Very good and quick service. They helped me to choose university and course, apply, get scholarship and many more I wouldn’t be able to do everything myself. Very satisfied.
                    <div class="arrow"></div>
                </blockquote>
                <img src="{%static 'assets/testimonial-ayse.jpg' %}" alt="testimonial" title="education experience"/>
                <div class="author">
                    <p class="author-name">Ayshee (Turkey)
                        <span>
                            <i class="fas fa-star lingua-icon-testimonial"></i>
                            <i class="fas fa-star lingua-icon-testimonial"></i>
                            <i class="fas fa-star lingua-icon-testimonial"></i>
                            <i class="fas fa-star lingua-icon-testimonial"></i>
                            <i class="fas fa-star lingua-icon-testimonial"></i>
                        </span>
                        <p class="author-university">Islington center for English</p>
                    </p>
                </div>
            </figure>
            <figure class="snip1139 hover">
                <blockquote>I was 17 and didn’t know what I want to do in my life. I am very grateful for all the help and support I received from the Lingua International. They helped me with every step and now I am happy with my choice.
                    <div class="arrow"></div>
                </blockquote>
                <img src="{%static 'assets/testimonial-aziz.jpg' %}" alt="testimonial" title="best education"/>
                <div class="author">
                    <p class="author-name">Aziz (Kyrgyzstan)
                        <span>
                            <i class="fas fa-star lingua-icon-testimonial"></i>
                            <i class="fas fa-star lingua-icon-testimonial"></i>
                            <i class="fas fa-star lingua-icon-testimonial"></i>
                            <i class="fas fa-star lingua-icon-testimonial"></i>
                            <i class="fas fa-star lingua-icon-testimonial"></i>
                        </span>
                        <p class="author-university">University East London</p>
                    </p>
                </div>
            </figure>
            <figure class="snip1139">
                <blockquote>Lingua International helped me to come to London for an English course. I liked my experience so much, that decided to stay in UK. Now I am studying programming and looking for a job as a developer. It completely changed my life.
                    <div class="arrow"></div>
                </blockquote>
                <img src="{%static 'assets/testimonial-ola.jpg' %}" alt="testimonial" title="apply for free"/>
                <div class="author">
                    <p class="author-name">Ola (Poland)
                        <span>
                        <i class="fas fa-star lingua-icon-testimonial"></i>
                        <i class="fas fa-star lingua-icon-testimonial"></i>
                        <i class="fas fa-star lingua-icon-testimonial"></i>
                        <i class="fas fa-star lingua-icon-testimonial"></i>
                        <i class="fas fa-star lingua-icon-testimonial"></i>
                        </span>
                    <p class="author-university">BPP University</p>
                    </p>
                </div>
            </figure>
        </div>
    </div>
</div>